<body>

  <div class="sidebar">
    <!-- <h5 class="database-item">Menu</h5> -->
    <a href="characters" class="database-button">Characters</a>
    <a href="weapons" class="database-button">Weapons</a>
    <a href="artifacts" class="database-button">Artifacts</a>
    <a href="materials" class="database-button">Materials</a>
    <a href="items" class="database-button">Special Items</a>
    <a href="others" class="database-button">Others</a>
  </div>
    
   <div class="database-content">
    <div class="card-artifacts">
      <img src="crimsonflames.jpg" class="artifacts-img">
      <h3 class="database-names"> CRIMSON WITCH OF FLAMES </h3>
      <h5 class="database-descriptions">2-pcs:
Pyro DMG Bonus +15% <br> <br>

4-pcs:
Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using an Elemental Skill increases 2-Piece Set effects by 50% of its starting value for 10s. Max 3 stacks.</h5>
    </div>
   <div class="card-artifacts">
      <img src="crimsonflames.jpg" class="artifacts-img">
      <h3 class="database-names"> CRIMSON WITCH OF FLAMES </h3>
      <h5 class="database-descriptions">2-pcs:
Pyro DMG Bonus +15% <br> <br>

4-pcs:
Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using an Elemental Skill increases 2-Piece Set effects by 50% of its starting value for 10s. Max 3 stacks.</h5>
    </div>

    <div class="card-artifacts">
      <img src="crimsonflames.jpg" class="artifacts-img">
      <h3 class="database-names"> CRIMSON WITCH OF FLAMES </h3>
      <h5 class="database-descriptions">2-pcs:
Pyro DMG Bonus +15% <br> <br>

4-pcs:
Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using an Elemental Skill increases 2-Piece Set effects by 50% of its starting value for 10s. Max 3 stacks.</h5>
    </div>

    <div class="card-artifacts">
      <img src="crimsonflames.jpg" class="artifacts-img">
      <h3 class="database-names"> CRIMSON WITCH OF FLAMES </h3>
      <h5 class="database-descriptions">2-pcs:
Pyro DMG Bonus +15% <br> <br>

4-pcs:
Increases Overloaded and Burning DMG by 40%. Increases Vaporize and Melt DMG by 15%. Using an Elemental Skill increases 2-Piece Set effects by 50% of its starting value for 10s. Max 3 stacks.</h5>
    </div>


  </div>   

</body>


