<div class="section-wrap">
<div class="create-post-nav">
  <div class="create-a-post">
    Create a post
  </div>
</div>

<div class="create-a-post-wrap">
  <textarea maxlength="300" placeholder="Title" class="create-a-post-title" rows="1"></textarea>
  <div class="create-a-post-textbox" contenteditable="true" role="textbox" spellcheck="true">  
  </div>
</div>
<div class="post-button-wrap">
  <button class="post-button">Post</button>
</div>
</div>