<div class="about">
    <div class="about-content">
        <h1>About</h1>
        <p>Gimpact is a community run forum for Genshin Impact tips and tricks, guides, glitches, and any type of Genshin-related content!</p>
    </div>
    <div class="about-content" id="main-char">
        <h1>The Team</h1>
        <p>Gimpact is a small project made by classmates Jeonard Macugay and Aaron Guarnes.</p>
        <div class="about-content">
            <h1>Aaron Guarnes</h1>
            <img class="about-photo" src="aaron.jpg">
        </div>
        <div class="about-content">
            <h1>Jeonard Macugay</h1>
            <img class="about-photo" src="jeonard.jpg">
        </div>
           
    </div>

    
</div>