<div class="main-content">
    <div class="content-card">
        <h1>Welcome to Gimpact!</h1>
        <p>Gimpact is a community made hub for Genshin Impact guides and builds!</p>
    </div>
    <div class="content-card" id="main-char">
        <h1>Characters</h1>
        
    </div>
</div>