<body>

  <div class="sidebar">
    <!-- <h5 class="database-item">Menu</h5> -->
    <a href="characters" class="database-button">Characters</a>
    <a href="weapons" class="database-button">Weapons</a>
    <a href="artifacts" class="database-button">Artifacts</a>
    <a href="materials" class="database-button">Materials</a>
    <a href="items" class="database-button">Special Items</a>
    <a href="others" class="database-button">Others</a>
  </div>
    
  <div class="database-content">
    <div class="card">
      <img src="butterflywings.png" class="character-img">
      <h3 class="database-names">Butterfly Wings </h3>
      <h5 class="database-descriptions">Brightly colored wings. The powder that falls from them shimmers a little. Perhaps this is what allows them to fly?</h5>
    </div>
    <div class="card">
      <img src="electrocrystal.png" class="character-img">
      <h3 class="database-names">Electro Crystal</h3>
       <h5 class="database-descriptions">A power-rich crystal that draws electricity from the air around it.
Holding it makes your hand a little numb. With the right equipment, maybe it's possible to harness the Electro energy contained within?</h5>
      
    </div>
    <div class="card">
      <img src="Jean.png" class="character-img">
      <h3 class="database-names">Jean </h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="Qiqi.png" class="character-img">
      <h3 class="database-names">Qiqi</h3>
       <h5 class="database-descriptions">An apprentice and herb gatherer at Bubu Pharmacy.

“Blessed” by the adepti with a body that cannot die, this petite zombie cannot do anything without first giving herself orders to do it.</h5>
      
    </div>
    <div class="card">
      <img src="Mona.png" class="character-img">
      <h3 class="database-names">Mona</h3>
       <h5 class="database-descriptions">A mysterious young astrologer who proclaims herself to be “Astrologist Mona Megistus,” and who possesses abilities to match the title. Erudite, but prideful.</h5>
      
    </div>
    <div class="card">
      <img src="Amber.png" class="character-img">
      <h3 class="database-names">Amber</h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="Kaeya.png" class="character-img">
      <h3 class="database-names">Kaeya</h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="Lisa.png" class="character-img">
      <h3 class="database-names">Lisa</h3>
       <h5 class="database-descriptions">The Deaconess of the Knights of Favonius and a shining starlet adored by all.

Although the concept of a starlet is rather novel in a city of bards, the people of Mondstadt love Barbara nonetheless.</h5>
      
    </div>
    <div class="card">
      <img src="Barbara.png" class="character-img">
      <h3 class="database-names">Barbara</h3>
       <h5 class="database-descriptions">The Deaconess of the Knights of Favonius and a shining starlet adored by all.

Although the concept of a starlet is rather novel in a city of bards, the people of Mondstadt love Barbara nonetheless.</h5>
      
    </div>
  </div>   

</body>


