*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;            
}
body{
    background-image: url(bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;        
    display: block; 
}

a{
    text-decoration: none;
}
.main-content{
    align-items: flex-start;
    align-content: center;
    display: inline-flex;
}

header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background-color: rgba(0, 0, 0, 0.739);
    backdrop-filter: blur(10px);
    width: 100%; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.nav-area li a{
    z-index: 0;
    transition: all .3s ease 0s;
    color: #fff;
}
.nav-area li a:hover{
    color: #006C87;
}
.login-btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #006C87;           
}

.login-btn-area:hover{
    transition:ease-in .2s;
    color: #006C87;
    background:rgb(255, 255, 255);
}


.reg-btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid; 
    border-width: 1px;   
}

.reg-btn-area:hover{
    transition:ease-in .2s;
    color: #006C87;
    background:rgb(255, 255, 255);
}

.content-card{
    margin: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.739);
    padding: 20px;
    padding-top: 10px;
    border-radius: 2px;
    display: inline-block;
    backdrop-filter: blur(10px);
}

h1{
    font-size: 72px;
}

.nav-bar
{
    background-color: rgba(0,0,0,0.8);
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.navbar-brand img
{
    height: 35px;
}

.navbar-nav
{
    float: right;
    text-align: right;
}

.nav-link
{
    color:white !important;
}

.card 
{
    position: relative;
    display: inline-block;
    height: 150px;
    width: 450px;
    padding: 1px;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0.2);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 2px;
    margin: 0px 0px 21px;
}

.character-img
{
    width: 50%;
    height: 150px;
    float: right;
}

.database-names
{
    font-size: 20px;
}

.database-descriptions
{
    color:lightgray;
}

.sidebar
{
    background-color: rgba(0,0,0, 0.4);
    width: 10%;
    height: 100%;
    position: fixed;
    padding: 1%;
    margin: auto;
}

.database-button
{
    color:rgb(185, 185, 185) !important;
    line-height: 3;
    display: block;
}

.database-content
{
    width: 90%;
    position: absolute;
    right: 0px;
    height: fit-content;
    padding: 50px;
}

.section-wrap
{
    padding: 20px;
    height: fit-content;
    width: 50%;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    position: relative;
}

.section
{
    border-top: 1px solid #f0f0f0;
    position: relative;
    padding: 20px 0;
    display: table;
}

.section-title
{
    font-weight: bold;
    font-size: 20px;
    color:white;
    display: block;
}

.section-content
{
    line-height: 20px;
    color:rgb(185, 185, 185)
}
