<body>

  <div class="sidebar">
    <!-- <h5 class="database-item">Menu</h5> -->
    <a href="characters" class="database-button">Characters</a>
    <a href="weapons" class="database-button">Weapons</a>
    <a href="artifacts" class="database-button">Artifacts</a>
    <a href="materials" class="database-button">Materials</a>
    <a href="items" class="database-button">Special Items</a>
    <a href="others" class="database-button">Others</a>
  </div>
    
  <div class="database-content">
    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>


    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>
  
    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>

    <div class="card-weapons">
      <img src="aquilafavonia.jpg" class="weapons-img">
    </div>
  </div>   

</body>


