
           
  <div class="sidebar">
    <!-- <h5 class="database-item">Menu</h5> -->
    <a href="/database/chars" class="database-button">Characters</a>
    <a href="/database/weapon" class="database-button">Weapons</a>
    <a href="/database/artifact" class="database-button">Artifacts</a>
    <a href="/database/material" class="database-button">Materials</a>
    <a href="/database/special" class="database-button">Special Items</a>
    <a href="/database/other" class="database-button">Others</a>

  </div>
    
  <div class="database-content">
    <div class="card">
      <img src="../images/Keqing.png" class="character-img">
      <h3 class="database-names">Ke qing </h3>
      <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
    </div>
    <div class="card">
      <img src="../images/Diluc.png" class="character-img">
      <h3>Diluc</h3>
       <h5 class="database-descriptions">As the wealthiest gentleman in Mondstadt, the ever-dapper Diluc always presents himself as the epitome of perfection.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Jean.png" class="character-img">
      <h3>Jean </h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Qiqi.png" class="character-img">
      <h3>Qiqi</h3>
       <h5 class="database-descriptions">An apprentice and herb gatherer at Bubu Pharmacy.

“Blessed” by the adepti with a body that cannot die, this petite zombie cannot do anything without first giving herself orders to do it.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Mona.png" class="character-img">
      <h3>Mona</h3>
       <h5 class="database-descriptions">A mysterious young astrologer who proclaims herself to be “Astrologist Mona Megistus,” and who possesses abilities to match the title. Erudite, but prideful.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Amber.png" class="character-img">
      <h3>Amber</h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Kaeya.png" class="character-img">
      <h3>Kaeya</h3>
       <h5 class="database-descriptions">The Yuheng of the Liyue Qixing. Keqing has much to say about Rex Lapis’ 
        unilateral approach to policymaking in Liyue—but in truth, gods admire skeptics such as her quite a lot.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Lisa.png" class="character-img">
      <h3>Lisa</h3>
       <h5 class="database-descriptions">The Deaconess of the Knights of Favonius and a shining starlet adored by all.

Although the concept of a starlet is rather novel in a city of bards, the people of Mondstadt love Barbara nonetheless.</h5>
      
    </div>
    <div class="card">
      <img src="../images/Barbara.png" class="character-img">
      <h3>Barbara</h3>
       <h5 class="database-descriptions">The Deaconess of the Knights of Favonius and a shining starlet adored by all.

Although the concept of a starlet is rather novel in a city of bards, the people of Mondstadt love Barbara nonetheless.</h5>
      
    </div>
  </div>   




