<div class="main-content">
    <div class="content-card">
        <h1>About</h1>
        <p>Gimpact is a community run forum for Genshin Impact tips and tricks, guides, glitches, and any type of Genshin-related content!</p>
    </div>
    <div class="content-card" id="main-char">
        <h1>The Team</h1>
        <p>Gimpact is a small project made by classmates Jeonard Macugay and Aaron Guarnes.</p>
        <div class="content-card">
            <h1>Aaron Guarnes</h1>
            <img src="aaron.jpg">
        </div>
        <div class="content-card">
            <h1>Jeonard Macugay</h1>
            <img src="jeonard.jpg">
        </div>
           
    </div>

    
</div>