<div class="login-wrapper">
    <div>
        <form id="login-form">
            <label>Email</label><br>
            <input type="email" name="email" placeholder="Email"><br>
            <label>Password</label><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>