<form>
    <label>Email</label><br>
    <input type="email" name="email" placeholder="Email">
    <label>Password</label><br>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>