<div class="main-content">
    <div class="content-card">
        <h1>Welcome to Gimpact!</h1>
        <p>Gimpact is a community made hub for Genshin Impact guides and builds!</p>
    </div>
    <div class="content-card" id="main-char">
        <h1>Featured Characters</h1>
        <a><img class="char-portrait" alt="Jean" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619494241375.png"></a>
        <a><img class="char-portrait" alt="Venti" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619520566339.png"></a>
        <a><img class="char-portrait" alt="Klee" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619524764235.png"></a>
        <a><img class="char-portrait" alt="Mona" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200828/2020082817270441202.png"></a>
        
    </div>
     <div class="content-card" id="main-char">
        <h1>Featured Items</h1>
        <a><img class="char-portrait" alt="Jean" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619494241375.png"></a>
        <a><img class="char-portrait" alt="Venti" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619520566339.png"></a>
        <a><img class="char-portrait" alt="Klee" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619524764235.png"></a>
        <a><img class="char-portrait" alt="Mona" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200828/2020082817270441202.png"></a>
        
    </div>

    <div class="content-card" id="recent-post">
        <h1>Recent Forum Posts</h1>
        <a>
            <div>
                <a href="/forum">

                    <ul class="nav-area">
                        <li>Help!!! Stuck in this quest area</li>
                        <li>1/15/2021</li>
                        <li>by Thefataon</li>
                    </ul>
                    <ul class="nav-area">
                        <li>Klee Crit Build broken!</li>
                        <li>1/2/2021</li>
                        <li>by Thefataon</li>
                    </ul>
                    <ul class="nav-area">
                        <li>Pure DPS Diluc Build</li>
                        <li>1/17/2021</li>
                        <li>by some dude</li>
                    </ul>
                </a>
            </div>
        </a>

        
    </div>

    
</div>