<div class="main-content">
    <div class="content-card">
        <h1>Welcome to Gimpact!</h1>
        <p>Gimpact is a community made hub for Genshin Impact guides and builds!</p>
    </div>
    <div class="content-card" id="main-char">
        <h1>Featured Characters</h1>
        <a href="#"><img class="char-portrait" alt="Jean" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619494241375.png"></a>
        <a href="#"><img class="char-portrait" alt="Venti" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619520566339.png"></a>
        <a href="#"><img class="char-portrait" alt="Klee" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619524764235.png"></a>
        <a href="#"><img class="char-portrait" alt="Mona" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200828/2020082817270441202.png"></a>
        
    </div>
     <div class="content-card" id="main-char">
        <h1>Featured Items</h1>
        <a href="#"><img class="char-portrait" alt="Jean" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619494241375.png"></a>
        <a href="#"><img class="char-portrait" alt="Venti" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619520566339.png"></a>
        <a href="#"><img class="char-portrait" alt="Klee" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200316/2020031619524764235.png"></a>
        <a href="#"><img class="char-portrait" alt="Mona" src="https://uploadstatic-sea.mihoyo.com/contentweb/20200828/2020082817270441202.png"></a>
        
    </div>

    <div class="content-card" id="recent-post">
        <h1>Recent Forum Posts</h1>
    
        <div>
            {{#each (limit Posts 5)}}
            <a href="/forum">
                <ul class="nav-area">
                    <li>{{ title }}</li>
                    <li>{{ date }}</li>
                    <li>by {{ author }}</li>
                </ul>
            </a>
            {{/each}}

            
        </div>
    </div>
</div>