<div class="login-wrapper">
    <div>
        <form id="login-form" action="/register" method="POST">
            <label>First Name</label><br>
            <input type="text" name="firstname" placeholder="First Name"><br>
            <label>Last Name</label><br>
            <input type="text" name="lastname" placeholder="Last Name"><br>
            <label>Username</label><br>
            <input type="text" name="username" placeholder="Username"><br>
            <label>Email</label><br>
            <input type="email" name="email" placeholder="Email"><br>
            <label>Password</label><br>
            <input type="password" name="password" placeholder="Password"><br>
            <label>Re-type Password</label><br>
            <input type="password" name="repassword" placeholder="Re-type Password"><br>
            <input type="submit" value="register">
        </form>
    </div>
</div>