<div class="login-wrapper">
    <div>
        <form id="login-form">
            <label>First Name</label><br>
            <input type="text" name="First Name" placeholder="First Name"><br>
            <label>Last Name</label><br>
            <input type="text" name="Last Name" placeholder="Last Name"><br>
            <label>Email</label><br>
            <input type="email" name="email" placeholder="Email"><br>
            <label>Password</label><br>
            <input type="password" name="password" placeholder="Password"><br>
            <label>Re-type Password</label><br>
            <input type="password" name="repassword" placeholder="Re-type Password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>